
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2>

				</div>
			</div>

			<div class="contact-box">
				<div class="container">
					<div class="row">

						<div class="col-md-6" align="center">
							<h3>Honda FAME Marquesa </h3>
<span class="single-project-content">
                    <img alt="Honda Marquesa" src="images/fachada-marquesa.jpg"></span> 
                    <li><span><i class="fa fa-home"></i>Blvd. Bernardo Quintana #622</span> <span>Col. Desarrollo San Pablo C.P 76130 </span> <span>Querétaro, Querétaro</span></li>                      
						</div>

			<!-- Map box -->
            <div class="col-md-6" align="center">
            <h3>Ubicación</h3><br>
			<div class="map">
				
			</div>
            </div>

					</div>
				</div>
			</div>

		</div><br>

</body>
</html>